*.iml
.gradle
.idea/
.kotlin/
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/*.jks
*.jks
.gradle/gradle.properties
app/release
gradle/
gradlew*

# tailscale 二进制文件
app/src/main/assets/tailscale
app/src/main/assets/tailscaled

